doctype html5
html

  head

    link(href="stylesheets/compiled_css/actions_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/colors.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/damage_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/hud.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/learn_spells_modal.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/login.css", rel="stylesheet", )
    link(href="stylesheets/compiled_css/mana_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/map.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/modal.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/prepared_spells_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/style.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')

    script(src="scripts/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src="angular_gray_mana_app.js")
    script(src="controllers/angular_gray_mana_controller.js")
    script(src="controllers/mana_controller.js")
    script(src="controllers/damage_controller.js")
    script(src="controllers/actions_controller.js")
    script(src="controllers/learn_spells_controller.js")
    script(src="controllers/modal_controller.js")

  body

    div(data-ng-app="angularFrontEnd", data-ng-controller="grayManaController")
      div(id="modal-section", data-ng-controller="modalController")

        button(class="action-button", onclick="getTreasure()") Get Treasure

        h1(class="game-title") Gray Mana

        div(class="metabutton-container")
          button(class="metabutton", data-ng-repeat="button in metaButtons",
            data-ng-click="openModal(button.modal)") {{button.title}}
            span(data-ng-show="toggleShowHotKeys") &nbsp;({{button.hotKey}})

        div(id="login-div")
          h2 Username:
          input(class="login-input" id="username" value="person@example.com")
          h2 Password:
          input(class="login-input" id="password"
            value="not_a_real_password_used_anywhere_else")
          button(onclick="login()") Log In

        div(id="map")

        div(id="mana-section", data-ng-controller="manaController")
          div(class="hud-section")
            div(class="hud-panel")
              div(class="hud-heading")
                span(class="hud-title", data-ng-if="toggleShowTitles") Mana
                span(id="notifications-mana")

              div(class="hud-panel-content")
                div(class="mana-bar {{color}}", data-ng-repeat="color in colorClasses")
                  div(class="white", data-ng-style="manaHeights[color]") {{mana[color]}}

        div(id="prepared-spells-section", class="hud-section")
          div(class="hud-panel")
            div(class="hud-heading")
              span(class="hud-title", data-ng-if="toggleShowTitles") Prepared Spells
              span(id="notifications-prepared-spells", data-ng-if="toggleShowTitles") &nbsp;- You haven't prepared a spell yet.

            div(class="hud-panel-content")
              div(data-ng-repeat="_ in spellSlots",
                class="{{ lastSpellSlot( $index + 1 ) }} spell-slot",
                id="spell-slot-{{ $index + 1 }}")
                div(class="spell-logo-empty") Empty Slot

        div(id="damage-section", data-ng-controller="damageController")
          div(class="hud-section")
            div(class="hud-panel")
              div(class="hud-heading")
                span(class="hud-title", data-ng-if="toggleShowTitles") Damage
                span(id="notifications-damage", data-ng-if="toggleShowTitles") &nbsp;- You haven't taken any damage yet.
              div(class="hud-panel-content")
                div(id="damage-bar")
                  div(data-ng-repeat="color in colorClasses",
                    class="damage {{ color }}", data-ng-style="widthObj[color]",
                    id="{{ 'damage-' + ($index + 1) + '-' + color }}")

        div(id="actions-section", data-ng-controller="actionsController")
          div(class="hud-section")
            div(class="hud-panel")
              div(class="hud-heading")
                span(class="hud-title", data-ng-if="toggleShowTitles") Actions
                span(id="notifications-actions")

              div(class="hud-panel-content")
                div(class="button-group")
                  button(class="action-button", data-ng-disabled="disableManatate", data-ng-click="toggleManatate()") {{getManatateButtonTitle()}}
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{manatateHotKey}})
                  button(class="action-button", data-ng-disabled="disableSwitchToClone", data-ng-click="") {{'Switch to Clone'}}
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{cloneHotKey}})

                div(class="button-group")
                  button(class="action-button", data-ng-disabled="disableInteract", title="You're not standing in front of anyone or anything you can interact with.") Interact
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{interactHotKey}})
                  button(class="action-button", data-ng-disabled="disableEat", title="You don't have any food yet.") Eat
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{eatHotKey}})
                  button(class="action-button", data-ng-disabled="disableSleep", title="You're not tired enough yet.") Sleep
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{sleepHotKey}})

                div(class="button-group")
                  button(class="action-button", data-ng-disabled="disableCastSelectedSpell", title="You don't have a spell selected yet.") Cast Selected Spell
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{castSelectedSpellHotKey}})
                  button(class="action-button", data-ng-disabled="disablePrepareSpells", title="You haven't learned a spells yet.") Prepare Spells
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{prepareSpellsHotKey}})
                  button(data-ng-click="openModal('learnSpells')", data-ng-disabled="disableLearnSpells", class="action-button", id="learn-spells") Learn Spells
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{learnSpellsHotKey}})

                div(class="button-group")
                  button(class="action-button", data-ng-disabled="disableTalk") Talk
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{talkHotKey}})
                  button(class="action-button", data-ng-disabled="disableViewQuests", title="You haven't given or recieved a quest yet.") View Quests
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{questHotKey}})
                  button(class="action-button", data-ng-disabled="disableViewFactionDetails", title="You haven't joined or founded a faction yet.") View Faction Details
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{factionHotKey}})

                div(class="button-group")
                  button(class="action-button", data-ng-disabled="disableViewInventory") View Inventory
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{inventoryHotKey}})
                  button(class="action-button", data-ng-disabled="disableAdmireAchievements", title="You have no achievements :<") Admire Achievements
                    span(data-ng-show="toggleShowHotKeys") &nbsp;({{achievementsHotKey}})

        div(class="modal", data-ng-show="showModal")
          div(class="modal-content")
            span(data-ng-click="closeModal()", class="close") &times;

            div(id="inner-modal-content")

              div(data-ng-show="showEditOptions")
                h2 Edit Options
                input(type="checkbox", data-ng-model="toggleShowTitles")
                span Show titles of sections in HUD
                br

                input(type="checkbox", data-ng-model="toggleShowHotKeys")
                span Show shortcut keys on buttons
                br

              div(data-ng-controller="learnSpellsController")
                div(data-ng-show="showLearnSpells")
                  h2 Learn Spells

                  div(class="hud-section")
                    h3 Spells
                    div(class="learn-spells-pane")
                      div(id="spell-learn-list")
                        div(data-ng-repeat="spell in getLearnableSpells() | orderBy") {{spell}}
                          button() Pay {{runeCost(spell)}} runes to learn
                        br
                        div(data-ng-repeat="spell in getUnlearnableSpells() | orderBy") {{spell}}
                          button() You have not enough runes

                  div(class="hud-section")
                    h3 Runes
                    div(id="rune-section")
                      div(id="runes")
                        div(data-ng-repeat="letter in alphabet", class="{{ fadedOrClearRune(letter) }}", id="{{'rune-' + letter}}") {{letterOrQuotes(letter)}}
                          span(data-ng-model="runes[letter]") &nbsp;{{runes[letter]}}

  script(src="scripts/state_client.js")
  script(src="scripts/globals.js")
  script(src="scripts/auth_client.js")
  script(src="scripts/controls.js")
  script(src="scripts/render.js")
  script(src="scripts/request.js")
  script(src="scripts/treasure.js")
  script(src="scripts/start.js")
