doctype html5
html

  head

    link(href="stylesheets/compiled_css/actions_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/colors.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/damage_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/hud.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/learn_spells_modal.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/login.css", rel="stylesheet", )
    link(href="stylesheets/compiled_css/mana_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/map.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/modal.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/prepared_spells_dashboard.css", rel="stylesheet")
    link(href="stylesheets/compiled_css/style.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')

    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src="angular_gray_mana_app.js")
    script(src="angular_gray_mana_controller.js")
    script(src="damage_controller.js")

  body

    div(data-ng-app="angularFrontEnd", data-ng-controller="grayManaController")

      h1(class="game-title") Gray Mana

      div(class="metabutton-container")
        button(class="metabutton", data-ng-repeat="button in metaButtons",
          data-ng-click="openModal(button.modal)") {{ button.title }}

      div(id="login-div")
        h2 Username:
        input(class="login-input" id="username" value="person@example.com")
        h2 Password:
        input(class="login-input" id="password"
          value="not_a_real_password_used_anywhere_else")
        button(onclick="login()") Log In

      div(id="map")

      div(class="hud-section")
        div(class="hud-panel")
          div(class="hud-heading")
            span(class="hud-title", data-ng-if="switchShowTitles") Mana
            span(id="notifications-mana")

          div(class="hud-panel-content")
            div(data-ng-repeat="manaBarId in manaBarIds",
              id="{{ manaBarId }}") 0

      div(class="hud-section")
        div(class="hud-panel")
          div(class="hud-heading")
            span(class="hud-title", data-ng-if="switchShowTitles") Prepared Spells
            span(id="notifications-prepared-spells", data-ng-if="switchShowTitles") &nbsp;- You haven't prepared a spell yet.

          div(class="hud-panel-content")
            div(data-ng-repeat="_ in spellSlots",
              class="{{ lastSpellSlot( $index + 1 ) }} spell-slot",
              id="spell-slot-{{ $index + 1 }}")
              div(class="spell-logo-empty") Empty Slot

      div(class="hud-section")
        div(class="hud-panel")
          div(class="hud-heading")
            span(class="hud-title", data-ng-if="switchShowTitles") Damage
            span(id="notifications-damage", data-ng-if="switchShowTitles") &nbsp;- You haven't taken any damage yet.
          div(class="hud-panel-content")
            div(id="damage-bar")
              div(data-ng-repeat="color in colorClasses",
                class="damage {{ color }}", data-ng-style="widthObj[color]",
                id="{{ 'damage-' + ($index + 1) + '-' + color }}")

      div(class="hud-section")
        div(class="hud-panel")
          div(class="hud-heading")
            span(class="hud-title", data-ng-if="switchShowTitles") Actions
            span(id="notifications-actions")

          div(class="hud-panel-content")
            div(class="button-group")
              button(data-ng-click="takeSomeDamage(4, 'red')") Take Damage
              button(class="action-button", onclick="getTreasure()") Get Treasure
              button(class="action-button") Manatate (m)

            div(class="button-group")
              button(class="action-button", disabled="disabled", title="You're not standing in front of anyone or anything you can interact with.") Interact (k)
              button(class="action-button", disabled="disabled", title="You don't have any food yet.") Eat (e)
              button(class="action-button", disabled="disabled", title="You're not tired enough yet.") Sleep (z)

            div(class="button-group")
              button(class="action-button", disabled="disabled", title="You don't have a spell selected yet.") Cast Selected Spell (r)
              button(class="action-button", disabled="disabled", title="You haven't learned a spells yet.") Prepare Spells (p)
              button(data-ng-click="openModal('learnSpells')", class="action-button", id="learn-spells") Learn Spells (l)

            div(class="button-group")

              button(class="action-button") Talk (t)
              button(class="action-button", disabled="disabled", title="You haven't given or recieved a quest yet.") View Quests (q)
              //- button(class="action-button") Bow (b)
              button(class="action-button", disabled="disabled", title="You haven't joined or founded a faction yet.") View Faction Details (f)

            div(class="button-group")
              button(class="action-button") View Inventory (i)
              button(class="action-button", disabled="disabled", title="You have no achievements :<") Admire Achievements (c)

      div(class="modal", data-ng-show="showModal")
        div(class="modal-content")
          span(data-ng-click="closeModal()", class="close") &times;

          div(id="inner-modal-content")

            div(data-ng-show="showEditOptions")
              h3 Edit Options
              input(type="checkbox" data-ng-model="switchShowTitles")
              span(data-ng-show="showEditOptions") Show titles of sections in HUD

  script(src="scripts/jquery.min.js")
  script(src="scripts/state_client.js")
  script(src="scripts/globals.js")
  script(src="scripts/auth_client.js")
  script(src="scripts/controls.js")
  script(src="scripts/render.js")
  script(src="scripts/request.js")
  script(src="scripts/treasure.js")
  script(src="scripts/start.js")
